h1{
    text-shadow: rgb(242, 10, 10) 1px 0 10px;
}
p{color:rgb(3, 2, 25)}
a:link {
    color: rgb(11, 11, 243);
  }
  
  a:visited {
    color: rgb(233, 16, 211);
  }
  
  a:hover {
    text-decoration: none;
  }
  manythings {color:rgb(235, 225, 154);
}
background{color: yellow};

exampleone { background-color: yellow; }

{
width : 300px;
}